LOG_LEVEL=debug
PORT=8080
PG_HOST=localhost
PG_PORT=5438
PG_USER=vulcan_reportgen
PG_PASSWORD=vulcan_reportgen
PG_SSLMODE=disable
PG_NAME=reportsgenerator
SQS_QUEUE_ARN=arn:aws:sqs:xxx:123456789012:yyy
SES_REGION=xxx
SES_FROM=vulcan@vulcan.example.com
SES_CC=["vulcan@vulcan.example.com"]
LIVEREPORT_EMAIL_SUBJECT=[Test] Live Report
