LOG_LEVEL=debug
PORT=8080
PG_HOST=localhost
PG_PORT=5438
PG_USER=vulcan_reportgen
PG_PASSWORD=vulcan_reportgen
PG_SSLMODE=disable
PG_NAME=reportsgenerator
SQS_QUEUE_ARN=arn:aws:sqs:xxx:123456789012:yyy
SES_REGION=xxx
SES_FROM=vulcan@vulcan.example.com
SES_CC=["vulcan@vulcan.example.com"]
SCAN_EMAIL_SUBJECT=[Test] Security Overview
SCAN_S3_PUBLIC_BUCKET=public-vulcan-insights-abcdefghij
SCAN_S3_PRIVATE_BUCKET=vulcan-k8s-insights-abcdefghij
SCAN_GA_ID=
SCAN_COMPANY_NAME=
SCAN_SUPPORT_EMAIL=support@vulcan.example.com
SCAN_CONTACT_EMAIL=vulcan@vulcan.example.com
SCAN_CONTACT_CHANNEL=
SCAN_CONTACT_JIRA=
SCAN_DOCS_API_LINK=
SCAN_DOCS_ROADMAP_LINK=
PERSISTENCE_ENDPOINT=https://scanengine.vulcan.example.com/
RESULTS_ENDPOINT=https://results.vulcan.example.com/
SCAN_PROXY_ENDPOINT=https://insights.vulcan.example.com/
VULCAN_UI=https://www.vulcan.example.com/
SCAN_VIEW_REPORT=www.vulcan.example.com/api/v1/report?team_id=%s&scan_id=%s
SCAN_REDIRECT_URL=
LIVEREPORT_EMAIL_SUBJECT=[Test] Live Report
